* text=auto
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.png binary
*.ico binary
assets/*.txt -text -whitespace
assets/models/*.json -text -whitespace
